.side-menu {
    background-color: #17202A;
    display: flex;
    flex-direction: column;
    
}

.icon {
    padding: 25px;
    position: relative;
}

body {
  margin: 0;
  background-color: #17202A;
}

.text {
  color: white;
  padding: 10px;   
  text-align: center;
}


a {
    width: 250px;
    display: inline-block;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-family: Helvetica Neue;
}