.side-menu {
    background-color: #17202A;
    display: flex;
    flex-direction: column;
    left: 361px;
    
    
}

.side-menu hr {
  width: 0.5px;
  position: absolute;
  height: 2247px;
  left: 361px;
  top: 0px;
  color: white;
  margin: 0;
}

.icon {
    padding-left: 117px;
    position: relative;
    width: 25px;
    display: flex;
    align-items: center;
    
    padding-top: 24px;
}

body {
  margin: 0;
  background-color: #17202A;
}

.text {
  color: white;
  padding-left: 161px;  
  text-align: center;
  display: flex;
  height: 24px;
  width: 25px;
  align-items: center;
  
}


a {
    width: 250px;
    display: inline-block;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-family: Helvetica Neue;
   height: 40px;
   box-sizing: border-box;
} 